{% extends 'pages/base.html' %}

{% block content %}
    {% for profile in profile_list %}
        <div class="media">
            <img class="rounded-circle profile-img" src="{{ profile.image.url }}"
                 alt="{{ profile.user.username }} profile image">
            <div class="media-body">
                <h2 class="account-heading">{{ profile.user.username }}</h2>
                <p class="text-secondary">{{ profile.user.email }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
