{% extends 'pages/base.html' %}

{% block content %}
    {% for profile in profile_list %}
        <div class="media m-4">
            <img class="rounded profile-img-sm mr-4" src="{{ profile.image.url }}"
                 alt="{{ profile.user.username }} profile image">
            <div class="media-body">
                <h2 class="account-heading"><a href="{% url 'profile-detail' profile.user.id %}">{{ profile.user.username }}</a></h2>
                <p class="text-secondary">{{ profile.user.email }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
