{% extends 'pages/base.html' %}

{% block content %}
    {% include 'user/partials/profile.html' %}
    {% if request.user == profile.user %}
        <div class="mt-3 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'my-profile' %}">
                Update Profile
            </a>
            <a class="btn btn-outline-danger" href="{% url 'profile-deactivate' profile.slug %}">
                Deactivate Profile
            </a>
        </div>
    {% endif %}
{% endblock content %}
