body {
    margin-top: 5rem;
}

.rounded {
    object-fit: cover;
    border-radius: 50% !important;
}

.list-img {
    height: 125px;
    width: 125px;
}

.detail-img {
    height: 225px;
    width: 225px;
}

@media only screen and (max-width: 600px) {
    .detail-img {
        height: 150px;
        width: 150px;
    }
}
