{% extends 'pages/base.html' %}

{% load define_action %}

{% block content %}
    {% include 'game/partials/game.html' %}
    <div class="mt-5">
        {% if players|length > 0 %}
            <h6>NUMBER OF PLAYERS: {{ players|length }}</h6>
            <div class="mt-4">
                {% for player in players %}
                    <div class="media m-2">
                        <img class="rounded list-img" src="{{ player.profile.image.url }}"
                             alt="{{ player.profile.user.username }} profile image">
                        <div class="media-body ml-4">
                            <h2>{{ player.profile.user.username }}</h2>
                            <p>{{ player.profile.user.email }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h5>This game has no players jet.</h5>
        {% endif %}
    </div>
{% endblock content %}
