{% extends 'pages/base.html' %}

{% load define_action %}
{% load is_org_admin_filter %}

{% block content %}
    {% include 'game/partials/game.html' %}
    <div class="mt-5 mb-5">
        {% if players|length > 0 %}
            <h6>NUMBER OF PLAYERS: {{ players|length }}</h6>
            <div class="mt-4">
                {% for player in players %}
                    <div class="media m-2">
                        <img class="rounded list-img" src="{{ player.profile.image.url }}"
                             alt="{{ player.profile.user.username }} profile image">
                        <div class="media-body ml-4">
                            <h2>{{ player.profile.user.username }}</h2>
                            <p>{{ player.profile.user.email }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h5>This game has no players jet.</h5>
        {% endif %}
    </div>
    {% if request.user|is_org_admin:game.organization %}
        <div class="mt-3 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'game-update' game.slug %}">
                Update Game
            </a>
            <a class="btn btn-outline-danger" href="{% url 'game-delete' game.slug %}">
                Delete Game
            </a>
        </div>
    {% endif %}
{% endblock content %}
