{% extends 'pages/base.html' %}

{% block content %}
    <div class="media mt-2 mb-2">
        {% if game.image %}
            <img class="rounded detail-img" src="{{ game.image.url }}"
                 alt="{{ game.name }} {{ game.organization.type.name }} game image">
        {% endif %}
        <div class="media-body mt-5 ml-3">
            <h1>{{ game.name }}</h1>
            <h3>Organiser: {{ game.organization.name }}</h3>
            {% if game.description %}
                <p>DESCRIPTION: {{ game.description }}</p>
            {% endif %}
        </div>
    </div>
    <p>ADD PLAYER SECTION (NOT IMPLEMENTED)</p>
    {% if players|length > 0 %}
        <p>Number of players: {{ players|length }}</p>
        <div>
            {% for player in players %}
                <div class="media m-2">
                    <img class="rounded list-img" src="{{ player.profile.image.url }}"
                         alt="{{ player.profile.user.username }} profile image">
                    <div class="media-body ml-4">
                        <h2>{{ player.profile.user.username }}</h2>
                        <p>{{ player.profile.user.email }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>This game has no players jet.</p>
    {% endif %}
{% endblock content %}
