{% extends 'pages/base.html' %}

{% block content %}
    <a class="btn btn-outline-primary" href="{% url 'game-create' %}">Create New Game</a>
    <div class="mt-5">
        {% for game in game_list %}
            <div class="media mt-2 mb-2">
                {% if game.image %}
                    <img class="rounded list-img" src="{{ game.image.url }}"
                         alt="{{ game.name }} {{ game.type.name }} game image">
                {% endif %}
                <div class="media-body mt-5 ml-3">
                    <h2 class="account-heading">
                        <a href="{% url 'game-detail' game.slug %}">{{ game.name }} {{ game.type.name }}</a>
                    </h2>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
