{% load define_action %}

{% if is_list_item %}
    <div class="media m-4">
        <img class="rounded list-img mr-5" src="{{ profile.image.url }}"
             alt="{{ profile.user.username }} profile image">
        <div class="media-body mt-4">
            <h2><a href="{% url 'profile-detail' profile.slug %}">{{ profile.user.username }}</a></h2>
            <div class="mt-4">
                <h5>EMAIL: {{ profile.user.email }}</h5>
            </div>
        </div>
    </div>
{% else %}
    <div class="media mt-5 mb-5">
        <img class="rounded detail-img mr-5" src="{{ profile.image.url }}"
             alt="{{ profile.user.username }} profile image">
        <div class="media-body mt-4">
            <h2>{{ profile.user.username }}</h2>
            <div class="mt-4">
                <h5>EMAIL: {{ profile.user.email }}</h5>
                <h5>FIRST NAME: {{ profile.user.first_name|default:'Unknown' }}</h5>
                <h5>LAST NAME: {{ profile.user.last_name|default:'Unknown' }}</h5>
            </div>
        </div>
    </div>
{% endif %}
